---
---

@import "{{ site.theme }}";

input.task-list-item-checkbox {
  margin-right: 4px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
}

:root {
  --bg100: hsl(207, 95%, 8%);
  --bg200: hsl(207, 95%, 11%);
  --bg300: hsl(207, 95%, 15%);
  --bg400: hsl(207, 85%, 20%);
  --fg: #d6deeb;
  --fg300: hsl(217, 14%, 55%);
  --blue: #82aaff;
  --gray: #637777;
  --green100: hsl(84, 62%, 19%);
  --green400: #addb67;
  --purple: hsl(276, 68%, 75%);
  --purple100: hsl(276, 68%, 23%);
  --yellow: hsl(35, 71%, 74%);
  --red: rgb(255, 134, 134);
}

a {
  color: var(--blue);
}

// External links
a[href*="//"]:not([href*="willcodefor.beer"])
{
  color: var(--red);
}

body {
  background-color: var(--bg100);
  color: var(--fg);
  display: grid;
  grid-template-columns: 1fr 20px minmax(300px, 690px) 20px 1fr;
  height: 100vh;
}

.markdown-body {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 0.875rem;
  grid-column: 3;
  max-width: 800px;
}

.markdown-body p {
  line-height: 2;
  margin-bottom: 1.5rem;
}

.markdown-body li {
  line-height: 2;
}

.markdown-body h1 {
  font-size: 2rem;
  border: 0;
}

.markdown-body h2 {
  border-color: var(--bg400);
  font-size: 1.75rem;
}

.markdown-body h3 {
  font-size: 1.5rem;
}

.markdown-body blockquote {
  border-color: var(--bg400);
  color: var(--fg300);
}
